.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about__data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about__data::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}

.about__description {
    margin-bottom: 1rem;
    text-align: justify;
}

.about__skills {
    row-gap: 1.25rem;
    margin-left: 2.5rem;
}

h2.h2_padd {
    padding-bottom: 1rem;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__number {
    line-height: 1.2;
}

.skills__data ul {
    list-style-type: square;
  }

.skills__bar,
.skills__percentage {
    height: 7px;
    border-radius: .25rem;
}

.skills__bar {
    background-color: #f1f1f1;
}

.skills__percentage {
    display: block;
}

.html_5 {
    width: 50%;
    background-color: rgb(255, 209, 92);
}
.css_3 {
    width: 40%;
    background-color: rgb(255, 76, 96);
}
.javascript_2 {
    width: 30%;
    background-color: rgb(108, 108, 299);
}
.react_js {
    width: 35%;
    background-color: rgb(255, 209, 92);
}
.python_4 {
    width: 20%;
    background-color: rgb(255, 76, 96);
}
.tailwind_css {
    width: 25%;
    background-color: rgb(108, 108, 299);
}
.bootstrap_5 {
    width: 15%;
    background-color: rgb(255, 209, 92);
}

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 720px;
        justify-content: center;
        row-gap: 1.875rem;
    }
    .about__data::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        left: 49%;
        top: -20px;
    }
    .about__img {
        justify-self: center;
    }  
}

@media screen and (max-width: 768px) {
    .about__container {
        grid-template-columns: 450px;
    }
    .about__data::before {
        left: 47%;
    }
    .about__data {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 645px) {
    .about__container {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media screen and (max-width: 355px) {
    .about__container {
        grid-template-columns: 1fr;
    }
}